<!--
This is my cover letter.
by Robert Belozi Lee
-->

{% extends "resume.html" %}
{%block content %}
    <div id="letter" align="center">
      <p>
        I would be a great addition to any programming project or team. <br>
        My educational experiences, in both learning to program and in <br>
        entrepreneurship, have prepared me to find the resources necessary <br>
        to learn quickly, and work both independently and in groups. I can <br>
        contribute to any object oriented language based project and quickly <br>
        transition when I need to learn new technologies and methodologies. <br>
        <br>
        Two years ago, I started learning to program, in modern environments<br>
        for contemporary digital platforms. Although my strongest programming <br>
        language is Python, I feel very comfortable using Ruby [including Rails],<br>
         Java, Javascript, HTML/CSS, and C. I've also been tinkering with Go, <br>
         Objective C, and Android Studio, here and there.<br>
        <br>
        My current skill set includes git version control, use of libraries <br>
        and packages to manage and format data from the web, access social media,<br>
        and parse data using regular expressions; databases; interfacing with <br>
        other web applications with APIs using XML &amp; JSON information; <br>
        algorithm fundamentals; data structures; operating systems: Linux and Windows;<br>
        and text editors [Atom, Sublime, EMACS, VI, Eclipse, IDLE, Notepad++, etc.]. <br>
        <br>
        I am a pragmatic programmer with a work methodology designed for    <br>
        quality and timeliness. Although, this would be my first position in <br>
        programming, post college, I have spent the last two years continuously <br>
        working on my programming and computer science skills. <br>
        <br>
        I graduated from Georgia State University in 2012, with a business  <br>
        degree in Marketing, but I started programming in elementary school. <br>
        I would love to talk about what I have been doing for the past two   <br>
        years and what I can bring to your team or project. The best way to<br> reach me
        is by <a href="mailto:robert.belozi.lee@gmail.com">email</a>.I am currently
        in Seattle and available for <br>interview. I look forward to hearing from you.
      </div>
{% endblock %}
