<!--
This is my cover letter.
by Robert Belozi Lee
-->

{% extends "resume.html" %}
{%block content %}
    <div id="letter" align="center">
      <p>
        I would be a great addition to any programming project or team. <br>
        My educational experiences, in both learning to program and in <br>
        entrepreneurship, have prepared me to find the resources necessary <br>
        to learn quickly, and work both independently and in groups. I can <br>
        contribute to any object oriented language based project and quickly <br>
        transition when I need to learn new technologies and methodologies. <br>
        <br>
        A little over two years ago, I started studying programming and develpment<br>
        in modern environments, for contemporary digital platforms. Although my <br>
        strongest programming language is Python, I feel very comfortable using <br>
        Ruby[&amp; Rails],Java, Javascript, HTML/CSS, and C. I've also been tinkering<br>
        with Go, Objective C, and Android Studio, here and there.<br>
        <br>
        My current skill set includes git version control, use of libraries <br>
        and packages to manage and format data from the web, access social media<br>
        information and other web applications with APIs using XML &amp; JSON;<br>
        parsing data using regular expressions; databases; algorithm fundamentals;<br>
        data structures; operating systems: Linux and Windows; and text editors <br>
        [Atom, Sublime, EMACS, VI, Eclipse, IDLE, Notepad++, etc.]. <br>
        <br>
        I am a pragmatic programmer with a work methodology designed for    <br>
        quality and timeliness. I have spent the last two years continuously <br>
        working on my programming and computer science skills. <br>
        <br>
        In 2012, graduated from Georgia State University with a business administration<br>
        degree in Marketing, but I started programming in BASIC in elementary school. <br>
        I would love to talk about what I have been doing for the past few years<br>
        and what I can bring to your team or project. The best way to contact me<br>
        is by <a href="mailto:robert.belozi.lee@gmail.com">email</a>. I am currently
        in Seattle and available for interview.<br> I look forward to hearing from you.
      </div>
{% endblock %}
