<!--
This is the "extras" page.
by Robert Belozi Lee
-->

{% extends "resume.html" %}
{%block content %}
    <div class="extra">
      <div>
        <h1>Projects, etc.</h1>
      </div>
      <div>
        <strong>The Auburn Avenue Research Company</strong><br><br>
        <a href="http://www.auburnavenueresearch.com"><img src="img/aarc_url.png"></a><br><br>
        <p>
          <a href="http://www.auburnavenueresearch.com"><em>The Auburn Avenue Research Company</em></a> is a company that I
            founded <br>for special projects, such as, computer science talks, hackathon teams <br>
            and side projects. <br>
        </p>
      </div>
      <div>
        <p>
          <strong>Rilo: Monkey Joke</strong><br><br>
          <iframe width="420" height="315" src="https://www.youtube.com/embed/g7SBCHgOiTE" frameborder="0" allowfullscreen></iframe><br><br>
          This is a 3D Animation video I made, in <a href="http://www.blender.org">
          Blender</a>, as my final project for my CGI <br>
          class. I was a little bit ambitious in my idea and I was not able to <br>
          render the project, due to not having enough cpu power [I used about 15 <br>
          Macintosh computers overnight in the Georgia State University Digital<br>
          Aquarium]. <br><br>
          I ended up making a video of my screen running the rough draft on my<br>
          computer. The part at the end, with the green background is what it<br>
          would have looked like properly rendered, minus the green background:<br>
          I had planned to replace the "green screen" with another video.<br><br>
          I got an "A."<br><br>
        </p>
      </div>
      <div>
        <strong>Animating Ludwig</strong><br><br>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/NV0JFd6sMc4" frameborder="0" allowfullscreen></iframe><br><br>
        <p>
          Creating a realistic walk cycle is a challenging thing for beginners<br>
          to learn. This is a tutorial that I made that shows people who are learning to<br>
          to animate, how to do it. I am using an open source model, called "Ludwig,"<br>
          in Blender.
        </p>
      </div>
      <div>
        <p>
          <strong>The India Project</strong><br><br>
          <iframe width="420" height="315" src="https://www.youtube.com/embed/3yscylYBhqo" frameborder="0" allowfullscreen></iframe><br><br>

          This was a project about India for my Honors International Business<br>
          class. Our group ended up having a tough time working together, but<br>
          I let everyone record an audio presentation and pieced it together <br>
          into this.<br><br> We ended up getting an "A."
        </p>
      </div>
      <div>
        <a href="/">RESUME</a>
      </div>
    </div>
{% endblock %}
