<!--
This is my resume.
by Robert Belozi Lee
-->

<!DOCTYPE html>

<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="stylesheets/resume.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="google-site-verification" content="geDwfBavPjmf7PZ95iVkOPdLMXSZpV9ZU1YOvpSMCZk" />
    <meta name="keywords" content="software, engineer, resume, seattle, python, programming, linux, developer, webdev"/>
    <meta name="description" content="This is the resume of Robert Belozi Lee, computer programmer"/>
    <meta name="Revisit-After" content="7 Days">
    <meta name="robots" content="all,index" />
    <meta name="google-site-verification" content="geDwfBavPjmf7PZ95iVkOPdLMXSZpV9ZU1YOvpSMCZk" />
  </head>

  <body id= {{ tag }} >
    <nav>
      <select name="options" onchange="window.location.href=this.value;">
        <option value="">Navigation</option>
        <option value="/cover_letter">Cover Letter</option>
        <option value="/">Resume</option>
        <option value="/experience">Experience</option>
        <option value="/extras">Extras</option>
        <option value="/apps">Apps</option>
      </select>
    </nav>

{% block content %}
    <br>
      <div id="card" align="center">
        <img src="img/profile_mini.png" alt:"Robert Belozi Lee">
        <h1>Robert Belozi Lee</h1>
          <br>
        9430 21st Avenue SW<br>
        Seattle, Washington   98106<br>
        404.281.2767<br>
        <a href="mailto:robert.belozi.lee@gmail.com">robert.belozi.lee@gmail.com</a><br>
        <br>
          <table>
            <tr>
              <td><a href="https://twitter.com/belozi"><img src="img/twitter.png" alt="@belozi"></a></td>
              <td><a href="https://www.linkedin.com/in/belozi"><img src="img/linkedin.png" alt"Robert Belozi Lee"</a></td>
              <td><a href="https://github.com/belozi"><img src="img/github.png" alt="git"></a></td>
              <td><a href="https://www.instagram.com/belozi/"><img src="img/instagram.png" alt="@belozi"></a></td>
            </tr>
            <tr>
              <td><a href="http://belozi.tumblr.com/"><img src="img/tumblr.png" alt="belozi"></a></td>
              <td><a href="http://belozi360.blogspot.com/"><img src="img/blogspot.png" alt="#codelife"></a></td>
              <td><a href="https://www.facebook.com/belozi1"><img src="img/facebook.png" alt="facebook"></a></td>
              <td><a href="https://www.youtube.com/channel/UCQTlBu7dqeOzvJrh71u1Lvg"><img src="img/youtube.png" alt="youtube"></a></td>
            </tr>
          </table>
      </div>
      <div class="skills">
        <div class="section" id="bullets">
          <h3>Programming Languages, Frameworks, &amp; Technologies</h3>
          <br>
            <ul>
              <li>HTML5 &amp; CSS3</li>
              <li>Python 2 &amp; 3</li>
              <li>Ruby &amp; Ruby on Rails</li>
              <li>Java</li>
              <li>Bash</li>
              <li>SQL</li>
              <li>Linux</li>
            </ul>
          </div>
        <br>
        <div class="section">
          <h3>Projects, Tutorials, &amp; Classes</h3>
          <br>
          <a href="http://www.railstutorial.org">Michael Hartl's Rails Tutorial</a> <a href="https://warm-brushlands-6896.herokuapp.com/">[completed app]</a><br>
          <a href="https://s3.amazonaws.com/verify.edx.org/downloads/261d30fc03304411930733f5324783be/Certificate.pdf">MITx:
            6.00.1x Introduction to Computer Science and Programming Using Python</a><br>
          <a href="https://www.coursera.org/learn/python">Programming for Everybody (Python), University of Michigan</a><br>
          <a href="https://www.coursera.org/learn/python-data">Python Data Structures, University of Michigan</a><br>
          <a href="https://www.coursera.org/learn/python-network-data">Using Python to Access Web Data, University of Michigan</a><br>
          <a href="https://s3.amazonaws.com/verify.edx.org/downloads/b06f6ba486344093a70abf27797c7bb7/Certificate.pdf">
            LFS101x.2: Introduction to Linux</a><br>
          <a href="https://www.coursera.org/course/webapplications">Web Application Architectures, University of New Mexico</a><br>
        </div>
        <div class="section">
          <h3>Hackathons</h3>
          <br>
          <p>
            Atlanta Big Data Week(2014), Atlanta, GA - <em>2nd Place</em><br>
            National Day of Civic Hacking(2014), Atlanta, GA - <a href="http://foogle.herokuapp.com/"> "Foogler"</a>, <em>1st Place</em><br>
            Sears Retail Hackathon(2014), Atlanta, GA - <a href="http://devpost.com/software/becrafty-itqyz">"BeCrafty"</a>, <em>Moment Feed Prize</em><br>
            NBCUniversal Hackathon(2015), Orlando, FL - <a href="http://devpost.com/software/telemundo-360">"Telemundo 360"</a>
          </p>
        </div>
        <div class="section">
          <h3>Tech Presentations</h3>
          <br>
            <p>
              <a href="http://www.barnesandnoble.com/h/makerfaire">
              Raspberry Pi Jam @ the Barnes and Noble Maker Faire</a>, <small>November, 2015</small>, <em>Atlanta, GA</em><br>
              Atlanta Boys and Girls Club, <em>Programming and Computer Science</em>, <small>July, 2015</small>, <em>Atlanta, GA</em>
            </p>
        </div>
        <div class="section">
          <h3>Conferences</h3>
          <br>
            <p>
              <a href="http://events.linuxfoundation.org/events/archive/2015/linuxcon-north-america">
              LinuxCon 2015: North America</a>, <small>August 17-19, 2015, <em>Seattle,WA</em><br></small>
              <a = href="http=https://us.pycon.org/2016/">
              PyCon 2016</a><small>, May 28th - June 5th, <em>Portland, OR</em><br></small>
            </p>
        </div>
        <div class="section">
          <h3>Pro Bono</h3>
          <br>
          <p>
            <a href="https://www.coursera.org/course/webapplications">SteamTruck App</a>, <small>Community Guilds</small>,<em> Decatur, GA</em><br>
          </p>
          <br>
          <p>
            This is an app that was originally conceived at the Goodie Hack Hackathon in <br>
            Atlanta.It was designed to track student projects and display them to stake <br>
            holders. The management of the business however, was not ready to implement <br>
            it into his system at the time.
          </p>
        </div>

          <a id="footer" href="/experience">Experience & Education</a>
        </div>
      </div>
{% endblock %}
    </body>
  </html>
